#wd-course-status {
        padding: 20px;
        margin-top: 20px;
}
      
#wd-course-status h2 {
        margin-bottom: 20px;
}

.status-buttons .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px; 
}
      
.status-buttons .row button {
        width: 47%; 
}

.status-buttons {
        display: flex;
        flex-direction: column;
}

.status-buttons button {
        padding: 5px 10px;
        font-size: 12px;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
}


